{% extends "base.html" %}

{% block content %}

<h1>Add Category</h1>
<p>Add a category or cuisine</p>
<form action="{{ url_for('add_category') }}" method="POST">
    <div class="row">
        <label for="type">Category/cuisine</label>
        <input type="text" id="type" name="type" minlength="3" maxlength="30">
    </div>
    <div class="row">
        <p><button type="submit" class="btn btn-primary btn-sm">Add <i class="fa-solid fa-plus"></i></button>
        <a href="{{ url_for('index') }}" class="btn btn-secondary btn-sm">Cancel</a></p>
    </div>
</form>
{% endblock %}