{% extends "base.html" %}

{% block content %}
    <div class="page-content p-4 mt-4 container">
        <div class="row">
            <h1>Add Your Review for {{ restaurant.name }}</h1>
        </div>
        <hr class="w-100">
        <div class="row">
            <p>Share your experience! Please conplete the review form below.</p>
        </div>
        <div class="row">
            <form action="" method="POST">
                <div class="row form-floating mb-4">
                    <input type="text" class="form-control" id="title" name="title" minlength="10" maxlength="100" required>
                    <label for="title">Review title</label>
                </div>
                <div class="row form-floating mb-4">
                    <textarea name="review_content" class="form-control" style="height: 100px;" id="review_content" placeholder="Describe your experience" minlength="50" required></textarea>
                    <label for="review_content">Review</label>
                </div>
                <div class="row mb-4">
                    <label for="food_rating">Rate your food (1-terrible to 5-excellent)</label>
                    <select name="food_rating" id="food_rating" class="form-select" aria-label="Food rating" required>
                        <option selected disabled>Select</option>
                        <option value="1">1 - terrible</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 - excellent</option>
                    </select>
                </div>
                <div class="row mb-4">
                    <label for="service_rating">Rate the service you received (1-terrible to 5-excellent)</label>
                    <select name="service_rating" id="service_rating" class="form-select" aria-label="Service rating" required>
                        <option selected disabled>Select</option>
                        <option value="1">1 - terrible</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 - excellent</option>
                    </select>
                </div>
                <div class="row mb-4">
                    <label for="overall_rating">Rate your overall experience (1-terrible to 5-excellent)</label>
                    <select name="overall_rating" id="overall_rating" class="form-select" aria-label="Overall rating" required>
                        <option selected disabled>Select</option>
                        <option value="1">1 - terrible</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5 - excellent</option>
                    </select>
                </div>
                <div class="row">
                    <div class="col mb-4">
                        <button class="btn btn-primary" type="submit">Submit review</button>
                        <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}