{% extends "base.html" %}

{% block content %}
    <div class="page-content p-4 mt-4 container">
        <div class="row">
            <h1>Categories</h1>
        </div>
        <hr class="w-100">
            {% for category in categories %}
                <div class="row mt-2 mb-2">
                    <div class="col">
                        {{ category.type }}
                    </div>
                    <div class="col">
                        <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-primary btn-sm">Edit  <i class="fa-solid fa-pen"></i></a>
                        <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-danger btn-sm">Delete <i class="fa-solid fa-trash"></i></a>
                    </div>
                </div>
            {% endfor %}
        <div class="row">
            <div class="col mb-2 mt-2">
                <a href="{{ url_for('add_category') }}" class="btn btn-primary">Add Category <i class="fa-solid fa-circle-plus"></i></a>
            </div>
        </div>
    </div>
{% endblock %}