{% extends "base.html" %}

{% block content %}
    <div class="page-content p-4 mt-4 container">
        <div class="row">
            <h1>{{ restaurant.name }}</h1>
            <div class="col mb-4">
                <img src="{{ restaurant.image_url }}" alt="{{ restaurant.name }}">
                <p>{{ restaurant.description }}</p>
                <p><strong>Website:</strong> <a href="{{ restaurant.url }}" target="_blank">View website</a></p>
                <p><strong>Cuisine:</strong> {{ restaurant.type }}</p>
                <p><strong>Address:</strong><br>
                    {{ restaurant.address }}<br>
                    {{ restaurant.town }}<br>
                    {{ restaurant.county }}<br>
                    {{ restaurant.postcode }}
                </p>
            </div>
        </div>
        
        <!-- Show admin buttons if admin is logged in -->
        {% if admin == "yes" %}
            <div class="row">  
                <p class="mt-4"><a href="{{ url_for('edit_restaurant', restaurant_id=restaurant._id) }}" class="btn btn-primary btn-sm">Edit <i class="fa-solid fa-pencil"></i></a>
                <a href="#" class="btn btn-danger btn-sm">Delete <i class="fa-solid fa-trash"></i></a></p>
            </div>
        {% endif %}
        <div class="row">
            <hr class="w-100">
            <h2>Reviews</h2>
        </div>
        {% if reviews|length > 0 %}
            {% for review in reviews %}
                <h3>{{ review.title }}</h3>
                <p>{{ review.review_content }}</p>
                <ul>
                    <li>Food rating: {{ review.food_rating }}</li>
                    <li>Service rating: {{ review.service_rating }}</li>
                    <li>Overall rating: {{ review.overall_rating }}</li>
                </ul>
                <p>Reviewed by {{ review.user_id }} on {{ review.review_date }}</p>
            {% endfor %}
        {% else %}
            <h3>No reviews found</h3>
        {% endif %}
    </div>
{% endblock %}