{% extends "base.html" %}

{% block content %}

    <div class="page-content p-4 mt-4 container">
        <div class="row">
            <h1>Register</h1>
        </div>
        <hr class="w-100">
        <div class="row p-4">
           <p>Already registered? <a href="#">Log in.</a></p>
        </div>
        <form action="{{ url_for('register') }}" method="POST">
            <div class="row form-floating mb-3">
                <input type="text" class="form-control" id="username" name="username" minlength="5" maxlength="10" pattern="^[a-zA-Z0-9]{5,10}$"data-toggle="tooltip" data-placement="auto" title="Username should be 5-15 characters with no spaces or special characters." required>
                <label for="username">Username</label>
                </div>
                <div class="row form-floating mb-3">
                <input type="password" class="form-control" id="password1" name="password1" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" data-toggle="tooltip" data-placement="auto" title="Password should be 5-15 characters with no spaces or special characters." required>
                <label for="password1">Password</label>
                </div>
                <div class="row form-floating mb-3">
                <input type="password" class="form-control" id="password2" name="password2" minlength="5" maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" required>
                <label for="password2">Confirm Password</label>
            </div>
            <div class="row">
                <div class="col mt-2 mb-2">
                    <button class="btn btn-primary" type="submit">Register <i class="fa-solid fa-pencil"></i></button>
                    <a href="{{ url_for('index') }}" class="btn btn-secondary">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

{% endblock %}