{% extends "base.html" %}

{% block content %}
    <div class="container-fluid d-flex bd-highlight">
        <div class="row mt-4">
            <h1>Restaurants</h1>
        </div>
    </div>
    <hr class="w-100">
    {% if restaurants|length > 0 %}
        <div class="row row-cols-3 row-cols-md-3 row-cols-sm-2">
        {% for restaurant in restaurants %}
        <div class="col mb-4">
                <div class="card h-100 p-3">
                    <img src="{{ restaurant.image_url }}" class="card-img-top" alt="{{ restaurant.name }}">
                    <div class="card-body">
                        <h5 class="card-title">
                            {{ restaurant.name }}
                        </h5>
                        <p class="card-text">Description: {{ restaurant.description }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Website: <a href="{{ restaurant.url }}" target="_blank">View website</a></li>
                            <li class="list-group-item">Cuisine: {{ restaurant.type }}</li>
                            <li class="list-group-item">Address:<br>
                                {{ restaurant.address }}<br>
                                {{ restaurant.town }}<br>
                                {{ restaurant.county }}<br>
                                {{ restaurant.postcode }}</li>
                        </ul>
                    <p class="card-text"><a href="{{ url_for('edit_restaurant', restaurant_id=restaurant._id) }}" class="btn btn-primary btn-sm">Edit <i class="fa-solid fa-pencil"></i></a>
                    <a href="#" class="btn btn-danger btn-sm">Delete <i class="fa-solid fa-trash"></i></a></p>
                    <p class="card-text"><a href="#" class="btn btn-primary btn-sm">View reviews <i class="fa-solid fa-eye"></i></a>
                    <a href="#" class="btn btn-primary btn-sm">Write a review <i class="fa-solid fa-pencil"></i></a></p>
                </div>
            </div>
        </div>
        {% endfor %}
        </div>
    {% else %}
        <h3>No Results Found</h3>
    {% endif %}
{% endblock %}
